h2,
caption {
    text-align: center;
    color: #7191d0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td {
    text-align: center;
    width: 50px;
    height: auto;
}

table,
th,
td {
    border-collapse: collapse;
    border: 1px solid #ddd;
    padding: 8px;
}

table {
    width: 100%;
}

thead {
    background-color: #f2f2f2;
}

tbody {
    tr:hover {
        background-color: #D6EEEE;
    }

    td:hover {
        background-color: rgba(135,28,28,0.3);
    }
}

tfoot {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}